*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background-color: rgba(101, 13, 13, 0.496);
}

.cajaTitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:768px) {
    .cajaTitulo{
        width: 100%;
    }
}

.titulo{
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
    color: rgb(62, 67, 154);
}
@media screen and (max-width:768px) {
    .titulo{
        width: 100%;
        text-align: center;
    }
}

.mesa{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.centrarTarjeta{
    width: 70px;
    height: 70px;
    display: flex;
    border: 1px solid rgb(0, 255, 221);
    border-radius: 0.6rem;
    background-color: rgba(24, 155, 242, 0.716);
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
}



.tarjetaContenido{
   font-size: 1.5rem;
    transform: rotateY(-180deg);
    backface-visibility:hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.centrarTarjeta.ver{
    transform: rotateY(-180deg);
}


.acertaste{
    opacity: 0;
}